@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure inputs are visible in fullscreen */
input, select, textarea {
  @apply text-gray-800 dark:text-white bg-white dark:bg-gray-800;
}

:fullscreen input, :fullscreen select, :fullscreen textarea {
  background-color: white;
  color: black;
}

.dark :fullscreen input, .dark :fullscreen select, .dark :fullscreen textarea {
  background-color: #1f2937; /* gray-800 */
  color: white;
}

::backdrop {
    background-color: white;
}

/* Hide spin buttons for number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Custom utility for select with hidden arrow but keeping functionality */
.select-no-arrow {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

/* Custom Select with smaller arrow */
.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
}

.dark .custom-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%239ca3af' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
}

/* Custom OverlayScrollbars Theme */
.os-theme-custom {
  --os-size: 10px;
  --os-padding-perpendicular: 0;
  --os-padding-axis: 0;
  --os-track-border-radius: 0;
  --os-handle-border-radius: 5px;
  --os-handle-perpendicular-size: 100%;
  --os-handle-perpendicular-size-hover: 100%;
  --os-handle-perpendicular-size-active: 100%;

  /* Light Mode Colors */
  --os-track-bg: transparent;
  --os-track-bg-hover: transparent;
  --os-track-bg-active: transparent;
  --os-handle-bg: rgba(0, 0, 0, 0.2);
  --os-handle-bg-hover: rgba(0, 0, 0, 0.35);
  --os-handle-bg-active: rgba(0, 0, 0, 0.5);
  --os-handle-border: none;
  --os-handle-min-size: 33px;
  --os-handle-max-size: none;
  --os-handle-interactive-area-offset: 0;
}

/* Dark Mode Colors */
.dark .os-theme-custom {
  --os-handle-bg: rgba(255, 255, 255, 0.2);
  --os-handle-bg-hover: rgba(255, 255, 255, 0.35);
  --os-handle-bg-active: rgba(255, 255, 255, 0.5);
}
